<style>


nav {
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

nav li {
  display: inline-block;
  padding: 15px;
}

nav ul li a {
  color: white;
  font-family: 'Open Sans', sans-serif;
  transition: .3s;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: white;
  color: black;
  border-color: white;
  font-family: 'Open Sans', sans-serif;
  width: 170px;
  border-radius: 15px;
  font-size: 25px;
  padding: 5px;
  font-weight: bold;
}

h1 {
  padding-top: 250px;
  padding-left: 15px;
  font-size: 40px;
  color: white;
}

#submit {
  color: white;
  border: 5px solid white;
  background-color: black;
  border-radius: 20px;
  height: 50px;
  width: 250px;
  transition: .3s;
  align: center;
  font-size: 25px;
  padding: 5px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

#submit:hover {
  background-color: white;
  color: black;
  border-color: white;
  font-family: 'Open Sans', sans-serif;
  width: 170px;
  font-size: 25px;
  padding: 5px;
  font-weight: bold;
}

main {
  flex: 1;
}



table {
  background-color: #333;
  font-size: 15px;
  color: #fff;
  padding: 20px;
  //min-width: 100%;
  margin: 0 auto;
  text-align: center;
  
}

td{
	 text-align: center; 
	 
	padding:10px;
}

i{
	padding:8px;
	font-size:20px;
	transition:.3s
}

i:hover{

	font-size:30px;
}

a{
	
  color: white;
  font-family: 'Open Sans', sans-serif;
  transition: .3s;
  text-decoration: none;
}



</style>
